* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --background: #051d3b;
  --azul-ceu: #5081fb;
  --azul-medio: #7ba4fc;
  --azul-claro: #96b9fd;
}

body {
  background-color: var(--background);
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px;
}

#logo {
  height: 34.05px;
}

#barra-pesquisa {
  background-color: rgba(255, 255, 255, 0.16);
  color: white;
  width: 752px;
  padding: 1rem;
  border-style: none;
  border-radius: 8px;
}

#perfil {
  width: 106px;
}

main {
  margin: 0 32px;
}

nav {
  width: 189px;
}

.menu-titulo {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 40%;
  margin-bottom: 16px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.campo-projeto {
  background-color: rgba(255, 255, 255, 0.16);
  color: white;
  padding: 1rem;
  border-style: none;
  border-radius: 8px;
}